<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 RestO | Open daily 11am - 10pm |
    <a href="https://mdbootstrap.com/">Phone : 1-877-123-1234</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
