<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
      </div>
      <!-- Grid row -->

    </div>
    <!-- Copyright -->
    <div class="footer-copyright">© 2020 Our Restaurant.
      <a href="">1-888-123-1234</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
