<nav>
  <div class="nav-content">
    <span id="logo">RestO</span>
    <div id="user-area">
      <span id="user-name">Welcome <%= user.name %></span>
    </div>

    <div class="stacked">
      <form method="POST" action="/logout">
        <button id="logout" type="submit" class="btn btn-light">Logout</button>
      </form>
    </div>
  </div>
</nav>
