<nav>
  <div class="nav-content">
    <span id="logo">RestO</span>
    <div id="user-area">
      <span id="user-name">Welcome "Username goes here"</span>
    </div>

    <div class="stacked">
      <button id="logout" type="button" class="btn btn-light">Logout</button>

    </div>
  </div>
</nav>
