<header>
  <nav class="custom-nav">
    <ul class="nav-elements">
      <li>
        <a class="nav-logo nav-elem" href="/">Blabla Restaurant</a>
      </li>
      <li>

      </li>
  </nav>
</header>
