<nav>
  <div class="nav-content">
    <span id="logo">RestO</span>
    <div id="user-area">
      <span id="user-name">Welcome "Username goes here"</span>
    </div>
    <div class="stacked">
      <span id="login"><b>Logout</b></span>

    </div>
  </div>
</nav>
