<!DOCTYPE html>
<html lang="en">

<head>
  <title>Our midterm project</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body class="bg-light text-center">
  <%- include('partials/_header') %>


  <div class="container text-center bg-white p-4 mt-5">
    <h1 class="text-dark">Welcome to our app</h1>
    <h3>Hello, world!</h3>
    <a href="/menu" class="btn btn-dark">View Menu</a>
  </div>
</body>

</html>
