<!DOCTYPE html>
<html lang="en">

<head>
  <title>Midterm Project</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <h1>Our Menu</h1>

  <div class="container">
    <ul style="list-style-type: none">

      <li class="bg-light p-2">
        <div class="card" style="width: 18rem;">
          <img
            src="https://previews.123rf.com/images/margouillat/margouillat1504/margouillat150400619/38695293-french-fries-and-ketchup.jpg"
            class="card-img-left" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fries</h5>
            <p class="card-text">Fries and ketchup.</p>
            <p>$8.99</p>
            <a href="#" class="btn btn-dark">+</a>
            <a href="#" class="btn btn-dark">-</a>
          </div>
        </div>
      </li>
      <li class="bg-light p-2">
        <div class="card" style="width: 18rem;">
          <img
            src="https://www.thespruceeats.com/thmb/L3PsB3-RhPRTtPMT_YxwpUvu1dk=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/best-fish-and-chips-recipe-434856-Hero-5b61b89346e0fb00500f2141.jpg"
            class="card-img-left" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fish and chips</h5>
            <p class="card-text">Cod and fries</p>
            <p>$14.50</p>
            <a href="#" class="btn btn-dark">+</a>
            <a href="#" class="btn btn-dark">-</a>
          </div>
        </div>
      </li>
      <li class="bg-light p-2">
        <div class="card" style="width: 18rem;">
          <img src="https://img.cuisineaz.com/660x660/2016-07-29/i84653-spaghettis-bolognaise-rapides.jpg"
            class="card-img-left" alt="...">
          <div class="card-body">
            <h5 class="card-title">Spaghettis</h5>
            <p class="card-text">Spaghettis and tomato sauce</p>
            <p>$18.99</p>
            <a href="#" class="btn btn-dark">+</a>
            <a href="#" class="btn btn-dark">-</a>
          </div>
        </div>
      </li>
    </ul>
  </div>

</body>

</html>
