.menu-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-left: 50px;
}
.menu-group {
  display: flex;
  flex-direction: column;
}

 .menu-group-title {
   margin: 10px 0px 60px 0px;
   font-size: 24px;
   color: #00BCD4;
   font-family: 'Roboto Condensed', sans-serif;
   text-transform: uppercase;
   font-weight: bold;

}
.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  word-wrap: break-word;
}
.menu-image {
  width: 30%;

}
.menu-item-text {
  width: 70%;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 15px;
}
.menu-item-title {
  margin: 0 0 2px;
  font-size: 17px;
  font-weight: 300;
}
.menu-item-description {
  margin: 4px 0;
  font-size: 15px;
  white-space: pre-wrap;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}
.menu-item-price {
  font-size: 17px;
  font-weight: 300;
  padding-right: 20px;
}
